       /* Main Navbar */
       .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #701e7d;
        padding: 15px 20px;
        color: white;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
        transition: top 0.3s, background-color 0.3s ease;
    }
h1{
    color:#ffffff ;
}
    .navbar.scrolled {
        background-color:#701e7d;
    }

    .logo img {
        width: 100px;
        height: auto;
        padding-left: 20px;
    }

    .nav-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        justify-content: center;
        transition: all 0.5s ease;
    }

    .nav-list li {
        position: relative;
        margin: 0 15px;
        transition: transform 0.3s ease;
      
    }

    .nav-list a {
        text-decoration: none;
        color: white;
        font-size: 1vw;
        padding: 10px 10px;
        transition: all 0.3s ease;
       
    }

    .nav-list a:hover {
        background: transparent;
        border-radius: 1px;
    }

    .mega-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #701e7d;
        color: white;
        width: 900px;
        display: none;
        padding: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .mega-dropdown:hover .mega-menu {
        display: block;
    }

    .menu-toggle {
        font-size: 30px;
        cursor: pointer;
        display: none;
        color: white;
        position: absolute;
        right: 20px;
    }
    #nav-list.active #mobile-menu {
        color: white;
    }
    
    .search-container form {
        display: flex;
        align-items: center;
        background: rgb(255, 255, 255);
        
        border-radius: 30px;
        padding-top: 0px;
        margin-top: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .search-container input {
        border: none;
      outline: none;
        width: 350px;
        height: auto;
        transition: width 0.3s ease;
    }

    .search-container input:focus {
        width: 300px;
    }

    .search-container button {
        border: none;
        background: #9c27b0;
        color: white;
        padding: 10px 12px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    .search-container button:hover {
        background: #701e7d;
    }

    /* Mobile Responsive Styles */
    @media (max-width: 768px) {
        .logo img {
            width: 70px;
            height: auto;
        }
        .search-container {
            flex-direction: row-reverse;
            width: 100%;
           
        }

        .search-container input {
            width: 100%;
    
        }

        .search-container button {
            margin-left: 0;
        }

        .menu-toggle {
            display: block;
        }

        .nav-list {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
                   height: 100%;
            background: #701e7d;
            flex-direction: column;
            padding-top: 20px;
            transition: 0.5s ease-out;
            display: flex;
            justify-content: center;
        }

        .nav-list.active {
            right: 0;
        }

        .nav-list li {
            margin: 0;
            padding: 20px;
            opacity: 0;
            transform: translateY(-20px);
            animation: slideIn 0.5s forwards;
        }

        .nav-list li:nth-child(1) {
            animation-delay: 0.2s;
        }

        .nav-list li:nth-child(2) {
            animation-delay: 0.4s;
        }

        .nav-list li:nth-child(3) {
            animation-delay: 0.6s;
        }

        .nav-list li:nth-child(4) {
            animation-delay: 0.8s;
        }

        .nav-list li:nth-child(5) {
            animation-delay: 1s;
        }

        @keyframes slideIn {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

 

        .nav-list a {
            font-size: 20px;
            padding: 15px;
        }

    
    }

    /* Go to top button */
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        background-color: #701e7d;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 15px;
        font-size: 24px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }

    #myBtn:hover {
        background-color: #555;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 768px) {
        #myBtn {
            padding: 12px;
            font-size: 20px;
        }
    }

/* Modal styles */
#categories-modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #701e7d;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    color: white;
    max-width: 400px;
}

.close-modal {
    color: #fcfcfc;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.categories-list a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #f5f5f5;
}

.categories-list a:hover {
    background-color:transparent;
    color: black;
}

#categories-button {
    display: flex;
    justify-content: space-between; /* Ensure the text and icon are spaced */
    align-items: center; /* Vertically align the text and icon */
}

#categories-button i {
    font-size: 16px; /* Adjust size */
    margin-left: 5px; /* Add space between text and icon */
    color: #ffffff; /* Change color if needed */
}
#region-modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
#region-button {
    display: flex;
    justify-content: space-between; /* Ensure the text and icon are spaced */
    align-items: center; /* Vertically align the text and icon */
}

#region-button i {
    font-size: 16px; /* Adjust size */
    margin-left: 5px; /* Add space between text and icon */
    color: #ffffff; /* Change color if needed */
}


@media (min-width: 769px) {
    #categories-modal, #region-modal {
        display: none !important; /* Hide modals completely on larger screens */
    }
}

@media (max-width: 768px) {
    #categories-button, #region-button {
        display: flex; /* Ensure both buttons are visible on mobile */
    }

    #region-modal {
        display: none; /* Hide by default */
        position: absolute; /* Ensure it covers the screen */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Dim background */
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Ensure it's above other content */
    }

    .region-modal-content {
        background-color: #701e7d;
        padding: 20px;
        border-radius: 8px;
        color: white;
        width: 90%;
        max-width: 400px;
        text-align: center;
    }

    .close-region-modal {
        color: white;
        font-size: 20px;
        cursor: pointer;
        float: right;
    }
}

